.show {
    transform: translateX(145px);
}

.side-menu-item {
    position: sticky;
    transition: 0.3s;
    width: 200px;
    margin: -20px 0 -20px -160px;
}

.side-menu-item:hover {
    transform: translateX(145px);
    cursor: pointer;
}